
:root {
    --white: #FFFFFF;
    --gray: #A6A6A6;
    --black: #0D0D0D;
    --y1: #EAF205;
    --y2: #F2E205;
    --y3: #BFB304;

}


/* Reset some default styles */
* {
    background-color: var(--black);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the height of the body to 100% */
html, body {
    height: 100%;
}

/* Container for the whole page */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header Styles */
.header {
    background-color: var(--black);
    color: var(--white);
    padding: 20px;
}

.logo {
    height: auto; /* Set the desired height */
    width: 33%; /* Set the desired width */
    background-color: var(--black);
}

.logo img {
    width: 100%;
    height: 100%;
}

.header h1 {
    margin: 0;
}

/* Body Styles */
.section {
    background-image: url("https://aram-ap.github.io/images/nyc.jpg");
    background-size: cover;

    alignment:center;

    padding: 20px;
    flex-grow: 1; /* Allow body to grow to fill remaining space */
}

.section img {
    width: auto;
    height: auto;
    object-fit: cover;
    opacity: 60%;
    z-index: 0;

}

/* Footer Styles */
.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 20px;
    text-align: center;
}

.article {

    position: absolute;
    alignment: center;
    background-color: #0D0D0D;

    width:40%;
    height:60%;
}

h1, h3 {
    font-family: Verdana;
    background-color:rgba(0,0,0,0);
}



